.card{
    max-width: 400px;
    position: absolute;
    top: 30%;
	  left: 0;
	  right: 0;
	  margin: auto;
}

.login-form {
    min-width: 150px;
    max-width: 350px;
    width: 100%;
  }
  
  .input-full-width {
    width: 100%;
  }