<mat-card class="card">
        <mat-card-header>
                <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <form class="login-form">
                        <mat-form-field class="input-full-width">
                          <input matInput placeholder="Email" [formControl]="emailFormControl">
                          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                          </mat-error>
                          <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>

                        <mat-form-field class="input-full-width">
                                <input matInput placeholder="Password" [type]="hide ?  'text' : 'password'" [formControl]="passwordFormControl">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ?   'visibility' : 'visibility_off'}}</mat-icon>
                                </button>
                        </mat-form-field>
                </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="login()">Login</button>
            <button mat-button>Reset</button>
        </mat-card-actions>
</mat-card>
