<mat-card class="card">
        <mat-card-header>
                <mat-card-title>Book Vehicle</mat-card-title>
                <mat-card-subtitle>Toyota Premio (SP - ABC 6969)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
                <p>Seat</p>
                <form class="login-form">
                    <mat-form-field class="input-full-width">
                            <input matInput [matDatepicker]="startDate" placeholder="Start Date">
                            <mat-datepicker-toggle matSuffix [for]="startDate">
                              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #startDate></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="input-full-width">
                            <input matInput [matDatepicker]="endDate" placeholder="End Date">
                            <mat-datepicker-toggle matSuffix [for]="endDate">
                              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #endDate></mat-datepicker>
                    </mat-form-field>
                </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" class="btn-full-width"><mat-icon>schedule</mat-icon> Confirm</button>
        </mat-card-actions>
</mat-card>


