<mat-card class="card">
        <mat-card-header>
                <mat-card-title>Search Vehicle</mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <form class="login-form">
                    <mat-select placeholder="Vehicle Category" class="input-full-width" [formControl]="vehCategory">
                        <mat-option value="1">Car</mat-option>
                        <mat-option value="0">Motor Bike</mat-option>
                    </mat-select>
                    <mat-form-field class="input-full-width">
                            <input matInput [matDatepicker]="startDate" placeholder="Start Date" [formControl]="startDateControl">
                            <mat-datepicker-toggle matSuffix [for]="startDate">
                              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #startDate></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="input-full-width">
                            <input matInput [matDatepicker]="endDate" placeholder="End Date" [formControl]="endDateControl">
                            <mat-datepicker-toggle matSuffix [for]="endDate">
                              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #endDate></mat-datepicker>
                    </mat-form-field>
                </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" class="btn-full-width" (click)="search()"><mat-icon>search</mat-icon>Search</button>
        </mat-card-actions>
</mat-card>

