<mat-card class="card">
  <mat-card-header>
    <mat-card-subtitle>Search Result</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item *ngFor="let vehicle of vehicles">
        <h1 matLine>{{vehicle.vehicleModel}} {{vehicle.vehicleMake}}</h1>
        <button mat-raised-button color ="primary" (click)="book(vehicle.plateNumber)">BOOK</button>
      </mat-list-item>
    </mat-list>       
  </mat-card-content>
</mat-card>