<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Confirm Your Vehicle Booking</mat-card-title>
      <mat-card-subtitle>Westminster Rental Vehicle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let vehicle of vehicles">
            <p mat-line>Vehicle</p>
            <h4 mat-line>{{vehicle.vehicleModel}} {{vehicle.vehicleMake}}</h4>
        </mat-list-item>
        <mat-list-item *ngFor="let vehicle of vehicles">
            <p mat-line>Seat Capacity</p>
            <h4 mat-line>{{vehicle.noOfSeats}}</h4>
        </mat-list-item>
        <mat-list-item *ngFor="let vehicle of vehicles">
          <p mat-line>Vehicle Paint</p>
          <h4 mat-line>{{vehicle.vehiclePaint}}</h4>
        </mat-list-item>
        <mat-list-item *ngFor="let vehicle of vehicles">
          <p mat-line>Plate Number</p>
          <h4 mat-line>{{vehicle.plateNumber}}</h4>
        </mat-list-item>
        <mat-list-item *ngFor="let vehicle of vehicles">
          <p mat-line>Price per KM</p>
          <h4 mat-line>{{vehicle.pricePerKM}}</h4>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions *ngFor="let vehicle of vehicles">
      <button mat-raised-button color="primary" (click)="confirm()">Confirm</button>
      <button mat-button>Cancel</button>
    </mat-card-actions>
  </mat-card>
