<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Westminster Rental Vehicle</span>
        <span class="example-spacer"></span>
            <a routerLink=""><button mat-button color="primary" class="btn">Home</button></a>
            <a routerLink="/login"><button mat-button color="primary" class="btn">Login</button></a>
            <a routerLink="/register"><button mat-button color="primary" class="btn">Register</button></a>
      </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
